{{extend ("../layout/mobile_default.html")}}
{{#block ("body")}}
<div id="injury" class="injury-cba-page">
    <div class="top-part">
    <div class="top-menu">
        <div class="portait-img">
            <img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/portait.png"/>
        </div>
        <div class="portait-text">
            <div class="text-name"><span class="text-game">每日红单推荐</span>请关注微信公众号：<strong>[篮彩老黑]</strong></div>
            <div class="text-notice">NBA/WNBA/CBA伤病名单实时更新、NBA篮彩投注率实时更新</div>
        </div>
    </div>
    <div class="clear"></div>
    <ul class="nav">
        <li><a href="/injurynba.html">NBA</a></li>
        <li><a href="/injurywnba.html">WNBA</a></li>
        <li><a href="#">CBA</a><span class="selected"></span></li>
        <li class="vote-ratio"><a href="/vote.html">NBA投注率</a></li>
    </ul>
    </div>
    <div class="clear"></div>
    <div class="updatetime">最近更新时间：<strong>{{include ("../layout/updatetime.html") }}</strong>（开赛前持续更新，敬请关注）</div>
    <ul class="news-nav">
        {{include ("../layout/news_list.html") }}
    </ul>
    <div class="clear"></div>
    <table class="list" border="0" cellspacing="1" cellpadding="0">

    <!-----B----北京鸭------>
    <tr>  
        <th colspan="4" class="team-name beijing">[B]]北京鸭<span class="en-name">BeiJing</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/beijing.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td colspan="3" class="none">暂无伤病信息</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>  

    <!-----B--北京紫禁勇士------>
    <tr>  
        <th colspan="4" class="team-name yongshi">[B]北京紫禁勇士<span class="en-name">BeiJing Royal Fighter</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/yongshi.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td>孙桐林<span class="important">重要</span></td>
        <td>缺阵</td>
        <td>脚踝受伤，无法出战</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>  

    <!-----F----福建中华鲟------>
    <tr>  
        <th colspan="4" class="team-name fujian">[F]福建中华鲟<span class="en-name">FuJian</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/fujian.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td colspan="3" class="none">暂无伤病信息</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>  

    <!-----G----广东华南虎------>
    <tr>  
        <th colspan="4" class="team-name guangdong">[G]广东华南虎<span class="en-name">GuangDong</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/guangdong.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td colspan="3" class="none">暂无伤病信息</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>  

    <!-----G--广州龙狮------>
    <tr>  
        <th colspan="4" class="team-name guangzhou">[G]广州龙狮<span class="en-name">GuangZhou</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/guangzhou.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td>易建联<span class="important">重要</span></td>
        <td>复出</td>
        <td>本赛季复出，出战揭幕战</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>

    <!-----J--江苏龙------>
    <tr>  
        <th colspan="4" class="team-name jiangsu">[J]江苏龙<span class="en-name">JiangSu</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/jiangsu.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td colspan="3" class="none">暂无伤病信息</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>

    <!-----J----吉林东北虎------>
    <tr>  
        <th colspan="4" class="team-name jilin">[J]吉林东北虎<span class="en-name">JiLin</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/jilin.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td colspan="3" class="none">暂无伤病信息</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>  

    <!-----L----辽宁飞豹------>
    <tr>  
        <th colspan="4" class="team-name liaoning">[L]辽宁飞豹<span class="en-name">LiaoNing</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/liaoning.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td colspan="3" class="none">暂无伤病信息</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>  


    <!-----N----南京大圣------>
    <tr>  
        <th colspan="4" class="team-name nanjing">[N]南京大圣<span class="en-name">NanJing</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/nanjing.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td colspan="3" class="none">暂无伤病信息</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>  

    <!-----Q----青岛雄鹰------>
    <tr>  
        <th colspan="4" class="team-name qingdao">[Q]青岛雄鹰<span class="en-name">QingDao</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/qingdao.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td colspan="3" class="none">暂无伤病信息</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>  

    <!-----S----山东王者------>
    <tr>  
        <th colspan="4" class="team-name shandong">[S]山东王者<span class="en-name">ShanDong</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/shandong.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td>丁彦雨航<span class="important">重要</span></td>
        <td>复出</td>
        <td>本赛季会出战揭幕战</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>  

    <!-----S----上海大鲨鱼------>
    <tr>  
        <th colspan="4" class="team-name shanghai">[S]上海大鲨鱼<span class="en-name">ShangHai</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/shanghai.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td colspan="3" class="none">暂无伤病信息</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>  

    <!-----S--深圳领航者------>
    <tr>  
        <th colspan="4" class="team-name shenzhen">[S]深圳领航者<span class="en-name">ShenZhen</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/shenzhen.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td>布克<span class="important">重要</span></td>
        <td>出战</td>
        <td>当前唯一可以出战的外援</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr> 

    <!-----S----山西猛龙------>
    <tr>  
        <th colspan="4" class="team-name shanxi">[S]山西猛龙<span class="en-name">ShanXi</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/shanxi.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td colspan="3" class="none">暂无伤病信息</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>  

    <!-----S----四川蓝鲸------>
    <tr>  
        <th colspan="4" class="team-name sichuan">[S]四川蓝鲸<span class="en-name">SiChuan</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/sichuan.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td colspan="3" class="none">暂无伤病信息</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>  

    <!-----T----天津先行者------>
    <tr>  
        <th colspan="4" class="team-name tianjin">[T]天津先行者<span class="en-name">TianJin</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/tianjin.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td colspan="3" class="none">暂无伤病信息</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>  


    <!-----X----新疆飞虎------>
    <tr>  
        <th colspan="4" class="team-name xinjiang">[X]新疆飞虎<span class="en-name">XinJiang</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/xinjiang.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td colspan="3" class="none">暂无伤病信息</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>  


    <!-----Z--浙江金牛------>
    <tr>  
        <th colspan="4" class="team-name zhejiang">[Z]浙江金牛<span class="en-name">ZheJiang</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/zhejiang.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td colspan="3" class="none">暂无伤病信息</td>
    </tr> 
    <tr class="empty"><td colspan="4"></td></tr>

    <!-----Z----浙江猛狮------>
    <tr>  
        <th colspan="4" class="team-name mengshi">[Z]浙江猛狮<span class="en-name">ZheJiang Lions</span></th>
    </tr> 
    <tr class="title">  
        <td rowspan="2" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/cba-logo/mengshi.jpeg" /></td>
        <th class="name">姓名</th>
        <th class="status">状态</th>
        <th class="detail">详情</th>
    </tr> 
    <tr>  
        <td colspan="3" class="none">暂无伤病信息</td>
    </tr> 

    </table>
    <div class="bottom">
        <div class="bottom-text">
            本网站服务由[篮彩老黑]独家提供<br/>
            <span>版权所有ICP证：</span>
            <a href="https://beian.miit.gov.cn/" target="_blank" class="bottom-link">浙ICP备17001885号-5</a><br/>
            Copyright © 2022 cbdyou.com.cn 保留一切权利
        </div>
        <div class="bottom-qrcode"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/lancai_qrcode_plus.jpg" /></div>
    </div>
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}