{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div id="injury" class="injury-wnbapc-page">
    <div class="top-menu">
    <div class="portait-img">
        <img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/portait.png"/>
    </div>
    <div class="portait-text">
        <div class="text-name"><span class="text-game">每日红单推荐</span>请关注微信公众号：<strong>[篮彩老黑]</strong><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/arrow.png" /><span class="scan">可扫一扫右侧二维码</span></div>
        <div class="text-notice">NBA伤病名单实时更新、篮彩投注热度更新、WNBA伤病名单实时更新</div>
    </div>
    <div class="portait-qrcode">
        <img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/lancai_qrcode.jpg" />
    </div>
    </div>
    <div class="clear"></div>
    <ul class="nav">
        <li><a href="/injurynbapc.html">NBA</a></li>
        <li class="vote-ratio"><a href="/votepc.html">盘口投注率</a></li>
        <li><a class="selected" href="#">WNBA</a></li>
        <li class="vote-ratio"><a href="/infopc.html">WNBA新闻</a></li>
    </ul>
    <div class="clear"></div>
    <div class="updatetime">最近更新时间：<strong>{{include ("../layout/updatetime.html") }}</strong>（开赛前持续更新，敬请关注）</div>
    <table class="list" border="0" cellspacing="1" cellpadding="0">

        {{#each(wnbaData)}}
            <tr>  
                <th colspan="4" class="team-name {{xindex}}">{{getWnbaTeam(xindex).chineseName}}<span class="en-name">{{getWnbaTeam(xindex).enName}}</span></th>
            </tr> 
            <tr class="title">  
                <td rowspan="{{getLength(xindex)}}" class="team_logo"><img src="{{getWnbaTeam(xindex).img}}" /></td>
                <th class="name">姓名</th>
                <th class="status">状态</th>
                <th class="detail">详情</th>
            </tr>
            {{#each(wnbaData[xindex])}}
                <tr>  
                    <td>
                        {{handleData(this).name}}
                        {{#if(handleData(this).important)}}<span class="important" v-if="item.important">重要</span>{{/if}}
                    </td>
                    <td>{{handleData(this).status}}</td>
                    <td>{{handleData(this).detail}}</td>
                </tr>
            {{/each}}

            <tr class="empty"><td colspan="4"></td></tr> 
        {{/each}}


    </table>
    <ul class="news-nav">
        {{include ("../layout/news_list.html") }}
    </ul>
    <div class="clear"></div>
    <div class="bottom">
    <div class="bottom-text">
        本网站服务由[篮彩老黑]独家提供&nbsp;&nbsp;&nbsp;&nbsp;<span>版权所有ICP证：</span>
        <a href="https://beian.miit.gov.cn/" target="_blank" class="bottom-link">浙ICP备17001885号-5</a><br/>
        Copyright © 2022 cbdyou.com.cn 保留一切权利
    </div>
    <div class="bottom-qrcode"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/lancai_qrcode_plus.jpg" /></div>
    </div>
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}