{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div id="injury" class="injury-nbapc-page">
    <div class="top-menu">
    <div class="portait-img">
        <img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/portait.png"/>
    </div>
    <div class="portait-text">
        <div class="text-name"><span class="text-game">每日红单推荐</span>请关注微信公众号：<strong>[篮彩老黑]</strong><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/arrow.png" /><span class="scan">可扫一扫右侧二维码</span></div>
        <div class="text-notice">WNBA伤病名单实时更新、WNBA篮彩投注率更新、NBA伤病名单实时更新</div>
    </div>
    <div class="portait-qrcode">
        <img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/lancai_qrcode.jpg" />
    </div>
    </div>
    <div class="clear"></div>
    <ul class="nav">
    <li><a href="/injurywnbapc.html">WNBA</a></li>
    <li class="vote-ratio"><a href="/votepc.html">盘口投注率</a></li>
    <li class="vote-ratio"><a href="/rankpc.html" class="selected" >盘口红黑榜</a></li>
    <li><a href="injurynbapc">NBA</a></li>
    </ul>
    <div class="clear"></div>
    <div class="updatetime">红黑榜更新时间：<strong>2022-02-26[周六]23:22</strong>（每周持续更新，敬请关注）</div>
    <table class="list" border="0" cellspacing="1" cellpadding="0">
        <tr>  
            <th colspan="5" class="rank-team-up"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/rank-up.png" /><span class="th-title">近期让分盘红榜（老黑推荐）</span></th>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/grizzlies.jpeg" /></td>
            <th class="name" colspan="4">第一名：孟菲斯灰熊</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">第1位  40-0-20<span class="win-rate">赢盘率：66.7%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">推荐理由</td>
            <td colspan="3">无论主客场，灰熊都表现出不俗的实力，并且他们的深盘和浅盘把握性都比较高，看好他们最终守住本赛季的盘王位置。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/hawks.jpeg" /></td>
            <th class="name" colspan="4">第二名：亚特兰大老鹰</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">第22位  26-0-32<span class="win-rate">赢盘率：44.8%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">推荐理由</td>
            <td colspan="3">老鹰目前阵容齐整，而且板凳深度很厚实，交易截止日过后，所有球员也能安心下来冲击季后赛，看好他们接下来的赛程会有一波较大反弹。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/heat.jpeg" /></td>
            <th class="name" colspan="4">第三名：迈阿密热火</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">第5位  34-1-25<span class="win-rate">赢盘率：57.6%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">推荐理由</td>
            <td colspan="3">我看好本赛季热火最终能冲出东部，杀入总决赛，这支球队板凳深度厚实，经验丰富，擅长打逆风球，非常值得信赖。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/spurs.jpeg" /></td>
            <th class="name" colspan="4">第四名：圣安东尼奥马刺</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">第12位  30-1-28<span class="win-rate">赢盘率：51.7%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">推荐理由</td>
            <td colspan="3">我一直很看好马刺青年军，不过交易截止日拿怀特去换来了选秀权，说明球队管理层还是着眼于未来更多一点，但总体而言，马刺青年军的实力仍不容小觑。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/celtics.jpeg" /></td>
            <th class="name" colspan="4">第五名：波士顿凯尔特人</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">第13位  30-2-28<span class="win-rate">赢盘率：51.7%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">推荐理由</td>
            <td colspan="3">近期的连胜势头虽然被活塞中止了，但交易截止日做的几笔交易对球队的阵容做了极大的补充，再加上球队双核状态正佳，继续看好绿军全明星赛后的稳定发挥。</td>
        </tr> 
        <tr class="empty"><td colspan="5"></td></tr>  

        <tr>  
            <th colspan="5" class="rank-team-down"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/rank-down.png" /><span class="th-title">近期让分盘黑榜（老黑看衰）</span></th>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/lakers.jpeg" /></td>
            <th class="name-low" colspan="4">第一名：洛杉矶湖人</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">第23位  26-0-32<span class="win-rate-low">赢盘率：44.8%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">看衰理由</td>
            <td colspan="3">安东尼.戴维斯好不容易回归到球队中，但不想没打几场比赛又把脚踝扭伤了，这又要缺阵至少一个月时间，当前湖人别说冲击总冠军了，是否能进西部季后赛都是一个未知数了。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/rockets.jpeg" /></td>
            <th class="name-low" colspan="4">第二名：休斯顿火箭</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">第29位  22-2-34<span class="win-rate-low">赢盘率：39.3%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">看衰理由</td>
            <td colspan="3">目前火箭的阵容既缺少组织能力，防守又不在线，他们唯一能依靠的就是火热的手感，但这毕竟是非常不稳定的因素，所以我对火箭本赛季余下的赛程持谨慎且悲观的态度。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/knicks.jpeg" /></td>
            <th class="name-low" colspan="4">第三名：纽约尼克斯</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">第24位  26-0-33<span class="win-rate-low">赢盘率：44.1%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">看衰理由</td>
            <td colspan="3">近期被连续地大逆转翻盘，教练组责无旁贷，没有合适的1号位，球队缺乏有效组织，是这支球队当前最大的问题。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/magic.jpeg" /></td>
            <th class="name-low" colspan="4">第四名：奥兰多魔术</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">第26位  26-0-34<span class="win-rate-low">赢盘率：43.3%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">看衰理由</td>
            <td colspan="3">这支球队账面实力还不错，但科尔.安东尼过于独的打法，导致无法发挥出球队全部的潜力，或许扶正萨格斯为球队1号位首发是让这支球队脱胎换骨的唯一有效途径。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/blazers.jpeg" /></td>
            <th class="name-low" colspan="4">第五名：波特兰开拓者</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">第27位  25-0-34<span class="win-rate-low">赢盘率：42.4%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">看衰理由</td>
            <td colspan="3">开拓者本赛季做了大交易后本就缺兵少将，再加上努尔基奇伤停一个月，对球队攻防两端影响都十分巨大，我对接下来这支球队的战斗力持悲观态度。</td>
        </tr> 

    </table>
    <ul class="news-nav">
        {{include ("../layout/news_list.html") }}
    </ul>
    <div class="clear"></div>
    <div class="bottom">
    <div class="bottom-text">
        本网站服务由[篮彩老黑]独家提供&nbsp;&nbsp;&nbsp;&nbsp;<span>版权所有ICP证：</span>
        <a href="https://beian.miit.gov.cn/" target="_blank" class="bottom-link">浙ICP备17001885号-5</a><br/>
        Copyright © 2022 cbdyou.com.cn 保留一切权利
    </div>
    <div class="bottom-qrcode"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/lancai_qrcode_plus.jpg" /></div>
    </div>
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}